DATABASE_URL="postgres://qpcvzkkoutdnhk:gDCXgWF5vFxLBz0ta0K9qKU272@ec2-54-204-37-113.compute-1.amazonaws.com:5432/d9iordund3vaq2"
LANG=en_US.UTF-8
RACK_ENV=development
AUTH_USER=qpcvzkkoutdnhk
AUTH_PASSWORD=gDCXgWF5vFxLBz0ta0K9qKU272
SLACK_TOKEN=xxx
SLACK_URL=https://xxx.slack.com
